:root {
  --PrimaryColor: #0078D7;
  --PrimaryColorLight: #60CDFF;
  --color-primary-adaptive: var(--dark, var(--PrimaryColorLight)) var(--light, var(--PrimaryColor));
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.program-box {
  max-width: 1000px;
  margin: 0 auto;
}

.card-not-last {
  margin: 20px 20px 0 20px;
  padding: 20px;
  background-color: var(--color-foreground-dark);
  border: 1px solid var(--color-ui-border-default);
  border-radius: 4px;
}

.card-last {
  margin: 20px;
  padding: 20px;
  background-color: var(--color-foreground-dark);
  border: 1px solid var(--color-ui-border-default);
  border-radius: 4px;
}

.main-alert {
  margin-bottom: 15px;
}

.main-input {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.execute-button {
  width: 100%;
}

.display {
  margin: 0 auto;
}

p {
  margin: 0;
}